html{
margin: 0px;
padding: 0px;
}

body {
   margin: 0px 50px; 0px; 50px;
   padding: 0px;
   background-color: #ffffff;
   border-width:0px;
}
h1{font:bold 20pt/14pt helvetica;line-height:14px;color:#FFF;text-align:center;}
h2{font:normal 14pt/14pt helvetica;line-height:14px;color:#FFF;text-align:center;}
h4{font:normal 10pt/8pt verdana;line-height:10px;color:#000000;}
h6{font:normal 8pt/8pt verdana;line-height:10px;color:#000000;}



#rootDiv {
   margin: 0px;
   padding: 0px;
   background-color: #ff0000;

}

#loginDiv{
   display:block;
   padding: 0px;
   position:absolute;
   top:0px;
   right:50px;	
   width:200px;
   height:75px;
   text-align:right;
   background-color: #FFE;	
}

#titleDiv{
   display:block;
   float:left;
   width:100%;
   height:75px;
   background-color: #F90;
}

#menuDiv{
   display:block;
   float:left;
   width:50%;
   height:500px;
   background-color: #0090ff;
}

#movieDiv{
   display:block;
   float:right;
   width:50%;
   height:500px;
   background-color: #0000ff;
}

#teachersAreaDiv{
   display:block;
   float:left;
   width:100%;
   height:200px;
   background-color: #FC0;
}

#discussionDiv{
   display:block;
   margin: 0px;
   padding: 0px;
   float:left;
   width:100%;
   background-color: #101090;
}

#discussionTable{
   margin: 0px;
   padding: 0px;
   align:center;
   text-align:left;
   width:100%;

}

td.teachersDiscussionArea{
   background-color:white;
   width:50%;
}

td.studentsDiscussionArea{
   background-color:pink;
   width:50%;
}

input.login{width:100px;

}

